@inherits LayoutComponentBase
@using CommunityToolkit.Mvvm.Messaging;

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    FirebaseClient firebaseClient = new FirebaseClient(baseUrl: "https://myapp-fc4db-default-rtdb.asia-southeast1.firebasedatabase.app/");
    protected override async Task OnInitializedAsync()
    {

        WeakReferenceMessenger.Default.Register<PushNotificationReceived>(this, (r, m) =>
        {
            string msg = m.Value;
            NavigateToDetailByClickNotification();
        });
    }
    private void NavigateToDetailByClickNotification()
    {

        if (Preferences.ContainsKey("NavigationID"))
        {
            string id = Preferences.Get("NavigationID", "");
            var message = firebaseClient
                    .Child("notifications")
                    .OrderByKey()
                    .OnceAsync<PushNotification>().Result.Select(x => x.Object).Where(x => x.Id == id).FirstOrDefault();
            Preferences.Remove("NavigationID");
            Navigation.NavigateTo($"/detail?CreatedDate={message.CreatedDate}&title={message.Title}&body={message.Body}");
        }
    }
}