@page "/detail"


<button @onclick="BackToList">Back</button>
<br />
<b>@Title</b>
<br />
<i>@CreatedDate</i>
<br />
<p>@Body</p>
@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string CreatedDate { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string Title { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string Body { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var isBiometricAuthAvailable = await _authService.CheckIfBiometricsAreAvailableAsync();
        if (isBiometricAuthAvailable)
        {
            var authResult =
                await _authService.AuthenticateAsync("FaceID", "App requires FaceID in order to login");

            switch (authResult.Status)
            {
                case BiometricAuthenticationStatus.Success:
                    break;
                default:
                    Navigation.NavigateTo($"/");
                    break;
            }
        }
        else
        {
            Navigation.NavigateTo($"/");
        }
    }

    protected override void OnParametersSet()
    {
        CreatedDate = CreatedDate ;
        Title = Title ;
        Body = Body ;
    }

    private async Task BackToList()
    {
        Navigation.NavigateTo($"/");
    }
}
